https://docs.python.org/3/library/functions.html
répertoire de toutes les fonctions built-in

### Les bases

In [ ]:
x = -3
abs(x)
x = 4.14
round(x)

### Les plus utiles en Machine Learning :

In [1]:
liste_1 = [0, 23, 14, -19]
max(liste_1)
min(liste_1)
len(liste_1)
sum(liste_1)
all(liste_1) #tous les éléments de la liste sont égales à true (pas de 0)
any(liste_1) #au moins un élément est true

True

### Conversion

In [41]:
x = 10
type(x) # retourne le type
str(x) #transforme en caractère
float(x) # transforme en décimale
liste_2 = [0, 61, 63, 243]

[0, 61, 63, 243]

In [3]:
tuple(liste_2) #transforme en tuple
list(liste_2) #transforme en liste

NameError: name 'liste_2' is not defined

### Input

In [4]:
x = int(input("entrez un nombre")) #forcer un int

entrez un nombre10

### Format

In [5]:
x = 25
ville = "Paris"
message = f"La température est de {x} degC à {ville}." #mettre des variables dans un message
message_2 = "Il fait {} DegC".format(x)
#2 ways
print(message, message_2)

La température est de 25 degC à Paris. Il fait 25 DegC

### Open

In [ ]:
f = open("fichier.txt", "w") #écrire dans le fichier
f.write("bonjour")
f.close()

In [2]:
f = open("fichier.txt", "r") #lire le fichier
f.read()
f.close()

In [3]:
with open("fichier.txt", "r") as f:
    print(f.read()) #méthode qui ferme automatiquement le fichier

bonjour

# Exercice

In [6]:
with open("fichier1.txt", "w") as f:
    for i in range(10):
        f.write("{}^2 = {}\n".format(i, i**2))
with open("fichier1.txt", "r") as f:
    liste = f.read().splitlines() #chaque élement correspond à une ligne du fichier (sans le retour à la ligne)
liste

['0^2 = 0',
 '1^2 = 1',
 '2^2 = 4',
 '3^2 = 9',
 '4^2 = 16',
 '5^2 = 25',
 '6^2 = 36',
 '7^2 = 49',
 '8^2 = 64',
 '9^2 = 81']

In [7]:
villes = ["Paris","Berlin","Londres","Bruxelles"]
villes
with open("villes.txt", "w") as f:
    for i in range(0,4):
        f.write("{}\n".format(villes[i]))