# Listes

In [1]:
liste_1 = [1, 4, 2 ,7, 35, 27, 61, 52]
villes = ["Paris","Berlin","Londres","Bruxelles"]
liste_2 = [liste_1, villes]
liste_3 = []

# Tuples 
(pas de modifications possibles)

In [ ]:
tuple_1 = [1,2,6,7]

## Indexing

In [5]:
print(villes[0], villes[1]) #accéder élements
print(villes[-1], villes[-2]) #accéder aux derniers élements
print(villes[0:3:1]) #accéder à plusieurs élements (début. fin: pas)
print(villes[::2])
print(villes[::-1])

Paris Berlin
Bruxelles Londres
['Paris', 'Berlin', 'Londres']
['Paris', 'Londres']
['Bruxelles', 'Londres', 'Berlin', 'Paris']

## Actions avec les listes/tuples

In [6]:
villes.append("Dublin") #ajouter élement à la fin
villes.insert(2, "Madrid") #ajouter élement à l'index 2

In [7]:
villes_2 = ["Amsterdam", "Rome"]
villes.extend(villes_2) #ajouter liste à la fin

In [8]:
len(villes) #nbr élements dans liste

8

In [9]:
villes.sort() #ordre alphabétique
villes.sort(reverse=True) #ordre inverse

In [10]:
villes.count("Paris") #nbr de fois que l'élement apparaît

1

In [11]:
if "Paris" in villes:
    print("OUI")
else:
    print("NON")

OUI

In [12]:
for i, v in  enumerate(villes):
    print(i, v) # i = index, v = valeur

0 Rome
1 Paris
2 Madrid
3 Londres
4 Dublin
5 Bruxelles
6 Berlin
7 Amsterdam

In [13]:
for a, b in zip(villes, liste_1): #assemble deux listes
    print(a, b) #s'arrête à la liste la plus courte

Rome 1
Paris 4
Madrid 2
Londres 7
Dublin 35
Bruxelles 27
Berlin 61
Amsterdam 52

# Exercice

In [15]:
def fibonacci(n):
    a=0
    b=1
    liste=[]
    while a < n:
        liste.append(a)
        a,b = b, a+b
    return liste
print(fibonacci(1000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]